body {
  background: #1A608A; }

.user-head-img {
  margin: auto auto;
  width: 8rem;
  height: 8rem;
  border-radius: 4rem;
  background: url(../img/myself.jpg) no-repeat -5rem -9rem;
  background-size: 20rem; }

.alert-msg {
  position: relative;
  width: 15rem;
  background: #fff;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  margin: auto;
  margin-top: 1rem;
  border-radius: 0.3rem; }
  .alert-msg:before {
    position: absolute;
    top: -0.5rem;
    content: ' ';
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    border-bottom: 0.5rem solid #fff;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent; }

.input-user {
  margin-top: 1rem; }
  .input-user div {
    display: inline-block;
    vertical-align: middle; }
    .input-user div.head-img {
      width: 5rem;
      height: 5rem;
      border-radius: 2.5rem;
      background: url(../img/zero.png) no-repeat 0rem -0.5rem;
      background-size: 5rem; }
    .input-user div.input {
      position: relative;
      width: 22rem;
      margin-left: 1rem;
      height: 2.5rem;
      line-height: 2.5rem;
      background-color: #fff;
      border-radius: 0.5rem; }
      .input-user div.input:before {
        content: ' ';
        position: absolute;
        left: -1rem;
        top: 0.5rem;
        border-right: 1.5rem solid #fff;
        border-top: 1rem solid transparent;
        border-bottom: 1rem solid transparent; }
      .input-user div.input textarea {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
        padding-left: 1rem;
        border: none;
        outline: none;
        border-radius: 0.5rem; }

.friends_comment {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-left: 2rem; }
  .friends_comment .comment-num {
    margin: 1rem 0; }
  .friends_comment .comment div {
    display: inline-block; }
    .friends_comment .comment div.user {
      width: 6rem; }
      .friends_comment .comment div.user .head-img {
        display: block;
        width: 100%;
        margin: auto;
        width: 4rem;
        height: 4rem;
        border-radius: 2rem;
        background: url(../img/luffy.png) no-repeat 0rem 0rem;
        background-size: 4rem; }
      .friends_comment .comment div.user .like {
        display: inline-block;
        vertical-align: middle;
        margin-top: 0.5rem;
        width: 1.5rem;
        height: 2rem;
        background: url(../img/like.png) no-repeat 0.4rem 0.5rem;
        background-size: 1.2rem; }
      .friends_comment .comment div.user .like-num {
        display: inline-block;
        vertical-align: bottom;
        height: 2rem;
        line-height: 2rem;
        color: #fff; }
